violations-report.json
.classpath
.project
.settings
generated-src
build
target
bin
temp
.gradle
.couscous
couscous.phar
.okhttpcache
codeclimate.json
index.js
package.json
package-lock.json
node_modules
